@import "tailwindcss";
@import "@heroui/styles";

:root {
  --primary: #2A666F;
  --secondary: #29586E;
  --accent: #DC5318;
  --accent700: #B84514;
  --danger: #DC2626;
  --background: #F7F8F8;
  --gray100: #ECEFEF;
  --gray150: #6C777A;
  --gray400: #455254;
  --accent50: #f9e5ce;
  --textBody: #313131;
  --textTitle: #363d40;
}


video::-webkit-media-controls {
  display: none !important;
  opacity: 0 !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

body {
  font-family: var(--font-lato);
}
header {
  /* background: linear-gradient(113deg, #dceef3 12.22%, #fbe3dc 83.91%, #deedf4 98.16%); */
}

@layer components {
  .radio {
    gap: calc(var(--spacing) * 1);
  }

  .radio__control {
    @apply border-2 border-gray-400 bg-transparent;
  }

  .radio[aria-checked="true"] .radio__control,
  .radio[data-selected="true"] .radio__control {
    @apply border-amber-600 bg-transparent;
  }

  .radio .label,
  .radio [data-slot="label"] {
    color: var(--gray150) !important;
  }

  .radio[aria-checked="true"] .label,
  .radio[data-selected="true"] .label,
  .radio[aria-checked="true"] [data-slot="label"],
  .radio[data-selected="true"] [data-slot="label"] {
    color: var(--textBody) !important;
  }

}


.hero {
  height: 80vh;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.7s ease-in-out forwards;
}