@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-lato: "Lato", "Helvetica Neue", Arial, sans-serif;
  --font-heading: "Titillium Web", "Trebuchet MS", sans-serif;

  --primary: #2A666F;
  --primary200: #ACC8CC;
  --primary600: #2A666F;
  --primary700: #23555D;

  --secondary: #29586E;
  --secondary700: #234A5D;

  --accent: #DC5318;
  --accent50: #f9e5ce;
  --accent700: #B84514;
  --accent400: #ED895E;
  --accent300: #F4B59A;

  --gray100: #ECEFEF;
  --gray150: #6C777A;
  --gray400: #455254;

  --danger: #DC2626;
  --background: #F7F8F8;

  --textBody: #313131;
  --textTitle: #363d40;

  --borderDefault: #CCD1D1;
}

video::-webkit-media-controls {
  display: none !important;
  opacity: 0 !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

html,
body {
  min-height: 100%;
  font-family: var(--font-lato);
  background: linear-gradient(97deg, #E4F1F7 3.41%, #FDFBEF 96.48%);
}
.component-gradient{
  background: linear-gradient(80deg, #FDFBEF 96.48%, #E4F1F7 3.41%);
}
body {
  min-height: 100vh;
}

.icon-hover{
  transition: all 0.3s ease;
  opacity: 0.8;
}
