@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-lato: "Lato", "Helvetica Neue", Arial, sans-serif;
  --font-heading: "Titillium Web", "Trebuchet MS", sans-serif;

  --primary: #2A666F;
  --primary200: #ACC8CC;
  --primary600: #2A666F;
  --primary700: #23555D;

  --secondary: #29586E;
  --secondary700: #234A5D;

  --accent: #DC5318;
  --accent50: #f9e5ce;
  --accent700: #B84514;
  --accent400: #ED895E;
  --accent300: #F4B59A;

  --gray100: #ECEFEF;
  --gray150: #6C777A;
  --gray400: #455254;

  --danger: #DC2626;
  --background: #F7F8F8;

  --textBody: #313131;
  --textTitle: #363d40;
}


video::-webkit-media-controls {
  display: none !important;
  opacity: 0 !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

html, body {
  font-family: var(--font-lato);
}
header {
  /* background: linear-gradient(113deg, #dceef3 12.22%, #fbe3dc 83.91%, #deedf4 98.16%); */
}

@layer components {
  .radio {
    gap: calc(var(--spacing) * 1);
  }

  .radio__control {
    @apply border-2 border-gray-400 bg-transparent;
  }

  .radio[aria-checked="true"] .radio__control,
  .radio[data-selected="true"] .radio__control {
    @apply border-amber-600 bg-transparent;
  }

  .radio .label,
  .radio [data-slot="label"] {
    color: var(--gray150) !important;
  }

  .radio[aria-checked="true"] .label,
  .radio[data-selected="true"] .label,
  .radio[aria-checked="true"] [data-slot="label"],
  .radio[data-selected="true"] [data-slot="label"] {
    color: var(--textBody) !important;
  }

}

.hero {
  height: 80vh;
}

.side-menu{
  background: linear-gradient(165deg, #317782 0%, #306882 100%);
  border-radius: 24px;
  padding: 24px 8px;
}
.extra-bold{
  font-weight: 700;
}

.app-bg{
  background: linear-gradient(165deg, #FBFEFE 0%, #FDF5F1 56.73%, #EEF4F6 100%);
}
